--Content Header--

1 Import Libraries

2 Import Dataframes

3 import the orders_products_combined dataframe from the pickle file you just saved.

4 Check the shape of the imported dataframe.

5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 

6 Confirm the results of the merge using the merge flag.

7 Export the newly created dataframe as orders_products_merged in a suitable format.

## Import Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\13019\Documents\Emmanuel\Data Analysis\Data Immersion\4.x\05-2023 Instacart Basket Analysis'

## Import Dataframes

## Step 3

In [3]:
#03 In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False);
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False);
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False);
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prods_checked.shape

(49672, 6)

## Step 4

In [22]:
#04 Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).
df_orders_products_combined.shape

(32434489, 11)

In [21]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [29]:
df_prods_checked.shape

(49672, 5)

In [25]:
del df_prods_checked['Unnamed: 0'];
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## Step 5

In [ ]:
#05 Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
#   Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” 
#   folder from the previous Exercise’s task.
df_orders_products_merged = df_orders_products_combined.merge(df_prods_checked, on = 'product_id');

In [32]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

## Step 6

In [33]:
#06 Confirm the results of the merge using the merge flag.
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## Step 7

In [35]:
#07 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))