--Content Header--

1 Import Libraries

2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe.

3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? 

4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. 

6 The team now wants to target different types of spenders in their marketing campaigns. 
 
7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. 

8 Ensure your notebook is clean and structured and that your code is well commented.

9 Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

## Import Libraries

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os
path = r'C:\Users\13019\Documents\Emmanuel\Data Analysis\Data Immersion\4.x\05-2023 Instacart Basket Analysis';

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4_7.pkl'))

## Step 2

In [4]:
#02 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe.
#   Now, repeat this process for the entire dataframe.
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3

In [5]:
#03 Analyze the result. How do the results for the entire dataframe differ from those of the subset? 
#   Include your comments in a markdown cell below the executed code.

the Subset only had about 8 department ID values, while the entire dataframe includes all 21 values. 
The mean values are also different for the department IDs listed compared to the subset.

## Step 4

In [6]:
#04 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Busiest_days,Busiest_hours,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Regularly busy,Regular hours,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Slowest days,Least orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Slowest days,Regular hours,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Slowest days,Least orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Slowest days,Most orders,10,New customer

## Step 5

In [12]:
#05 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. 
#   Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). 
#   What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

## Step 6

In [13]:
#06 The team now wants to target different types of spenders in their marketing campaigns. 
#   This can be achieved by looking at the prices of the items people are buying. 
#   Create a spending flag for each user based on the average price across all their orders using the following criteria:
#   If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#   If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

ords_prods_merge['average_order_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merge.loc[ords_prods_merge['average_order_price'] > 10, 'spending_profile'] = 'High_spender'

In [15]:
ords_prods_merge.loc[ords_prods_merge['average_order_price'] <= 10, 'spending_profile'] = 'Low_spender'

In [16]:
ords_prods_merge['spending_profile'].value_counts(dropna = False)

Low_spender     31770995
High_spender      633864
Name: spending_profile, dtype: int64

In [17]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,Busiest_days,Busiest_hours,max_order,loyalty_flag,average_order_price,spending_profile
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,Regularly busy,Regular hours,10,New customer,6.367797,Low_spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,Slowest days,Least orders,10,New customer,6.367797,Low_spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,Slowest days,Regular hours,10,New customer,6.367797,Low_spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,Slowest days,Least orders,10,New customer,6.367797,Low_spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,Slowest days,Most orders,10,New customer,6.367797,Low_spender

## Step 7

In [22]:
#07 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again),
#   the Instacart team wants you to determine frequent versus non-frequent customers. 
#   Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.
#   The criteria for the flag should be as follows:
#   If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#   If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#   If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.” 
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'shopper_frequency'] = 'Non-frequent_customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] <= 20) & (ords_prods_merge['median_days_since_prior_order'] > 10), 'shopper_frequency'] = 'Regular_customer'

In [25]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'shopper_frequency'] = 'Frequent_customer'

In [30]:
ords_prods_merge['shopper_frequency'].value_counts(dropna = False)

Frequent_customer        21559853
Regular_customer          7208564
Non-frequent_customer     3636437
NaN                             5
Name: shopper_frequency, dtype: int64

## Step 8

In [19]:
#08 Ensure your notebook is clean and structured and that your code is well commented.

## Step 9

In [20]:
#09 Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_task_4_8.pkl'))